.container{
padding: 40px;
justify-content: center;
align-items: center;
}

.banner{
background-image: url(imagenes/bn2.jpg);
background-size:cover;

}

.nav-color{
background-color: #6A449E;


}

.footercolor{
    background-color: #6A449E;

}

.colordivul{
    background-color: black;
}

.colorbtn{
    background-color: #6A449E;
}

.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

.fondo_ban{
    background-image: url(imagenes/stik.jfif);
    background-size:cover;
}